@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

#english {
  height: 30px;
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  background-color: aliceblue;
  text-align: center;
  /* font-size: 20px; */
  color: rgb(100, 118, 152);

  padding-left: 80%;
  padding-top: 1%;
}

#english span {
  margin-left: 5px;
  margin-right: 5px;
}

#english .material-icons {
  color: rgb(100, 118, 152);
  font-size: 20px;
}

#english .material-icons:hover {
  color: rgb(0, 107, 255);
  cursor: pointer;
}

#english:hover {
  color: rgb(0, 107, 255);
  cursor: pointer;
}

#calendlyimage {
  /* margin-top: 0; */
  margin-left: 10%;
}

header {
  display: flex;
  text-align: center;
  padding-top: 1.5%;
  padding-bottom: 0.5%;
  /* justify-content: center; */
  position: fixed;
  width: 100%;
  background-color: white;
  height: 5%;
  border-bottom: 1px solid rgb(225, 225, 225);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#navbar {
  margin-left: 8%;
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-bottom: 8%;
}

#navbar a {
  margin-left: 40px;
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding-top: 1%;
  font-size: 16px;
}

#navbar .material-icons {
  font-size: 32px;
}

#navbar :first-child {
  color: rgb(0, 107, 255);
}

#login {
  margin-left: 12%;
}

#login a {
  text-decoration: none;
  color: rgb(0, 107, 255);
}

#login button {
  padding: 10px;
  background-color: rgb(0, 107, 255);
  border: 1px solid rgb(0, 107, 255);
  color: white;
  border-radius: 10px;
  width: 120px;
  font-size: 15px;
  margin-left: 20px;
}

.solutions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 125px;
  /* border: 2px solid black; */
  gap: 24px;
}

.solutions > h3 {
  color: #006bff;
  font-size: 14px;
}
.hdd {
  color: #0b3558;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pp {
  font-size: 20px;
  color: #476788;
  width: 47%;
  text-align: center;
}

.two_btn {
  display: flex;
  flex-direction: row;
  font-size: 18px;
}

.two_btn > #p1 {
  color: #006bff;
  border: 1px solid #006bff;
  border-radius: 5px;
  padding: 12px;
  margin-top: 20px;
  font-weight: 500;
}

.two_btn > #p1:hover {
  color: #0e4796;
  cursor: pointer;
  transition: 0.5s ease;
}
.two_btn > #p2 {
  color: white;
  border: 1px solid #006bff;
  border-radius: 5px;
  padding: 12px;
  margin-top: 20px;
  margin-left: 10px;
  background-color: #006bff;
}
.two_btn > #p2:hover {
  background-color: #0e4796;
  cursor: pointer;
  transition: 0.5s ease;
}
#p3 {
  color: #006bff;
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
}

#p4 {
  font-size: 35px;
  font-weight: bold;
  color: #0b3558;
  margin-top: 20px;
}

.soln_for_every_role {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.left {
  margin-top: 4%;
  /* border: 2px solid black; */
  width: 40%;
  margin-left: 5%;
}

.panel {
  color: rgb(96, 92, 92);
}

.learn-more {
  display: flex;
  padding-top: 10px;
  cursor: pointer;
  color: black;
  font-weight: 500;
}

.learn-more:hover {
  color: gray;
  transition: 0.5s ease;
}
.learn-more > span {
  margin-left: 5px;
}
.left > .tagss {
  display: flex;
  justify-content: space-between;
  text-align: justify;
  margin-top: 4%;
  margin-left: 15%;
}

.tagss > h3 {
  font-size: 24px;
  font-weight: lighter;
}

.right > img {
  height: 400px;
  width: 500px;
  margin-top: 8%;
}

.ind_headings {
  text-align: center;
  margin-top: 3%;
}

.ind_headings > h2 {
  font-size: 20px;
  color: #006bff;
  font-weight: normal;
}

.ind_headings > h1 {
  font-weight: bold;
  font-size: 40px;
  margin-top: 2%;
  color: #0b3558;
}

.solns_by_ind {
  display: flex;
  width: 100%;
}

.accordion > #acch3 {
  padding-bottom: 30px;
}
.leftside {
  width: 40%;
  margin-left: 10%;
  margin-top: 3%;
}

.leftside > img {
  height: 450px;
  width: 550px;
}

.rightside {
  width: 35%;
  margin-top: 5%;
  margin-right: 10%;
}

.rightside > .tag {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  text-align: justify;
  margin-top: 10%;
  margin-left: 15%;
}

.tag > h3 {
  font-weight: lighter;
}
.chris_williams {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10%;
}

.leftyy {
  width: 50%;
  margin-left: 10%;
  margin-top: 10%;
}

.leftyy > p {
  font-size: 30px;
  /* width: 50%; */
  text-align: justify;
  color: #0b3558;
}

.leftyy > img {
  margin-top: 5%;
}

.leftyy > h2 {
  margin-top: 3%;
  font-weight: bold;
  color: #0b3558;
}

.leftyy > h3 {
  margin-top: 2%;
  font-weight: normal;
  color: #4d6788;
}

.rightyyy {
  width: 50%;
}

.rightyyy > img {
  height: 500px;
  width: 600px;
}

.scheduling {
  border: 1px solid black;
  border-radius: 15px;
  width: 60%;
  margin-left: 10%;
  padding: 60px;
  background-color: #0b3558;
  color: white;
  display: flex;
  margin-top: 10%;
  margin-left: 15%;
  margin-bottom: 10%;
}

.rside {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lside {
  width: 60%;
}

.lside > h1 {
  font-size: 40px;
}

.lside > p {
  font-size: 20px;
  padding-top: 15px;
  font-weight: lighter;
}

.scheduling > .rside {
  display: flex;
  flex-direction: row;
}

.rside > #sign {
  background-color: #006bff;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  border: 2px solid #006bff;
  transition: 0.5s ease;
}

.rside > #sign:hover {
  background-color: #005397;
  border-color: #005397;
  cursor: pointer;
}
.rside > #demo {
  background-color: white;
  color: #006bff;
  padding: 10px;
  border-radius: 10px;
  margin-left: 3%;
  font-size: 20px;
  border: 2px solid #006bff;
  transition: 0.5s ease;
}

.rside > #demo:hover {
  color: #005397;
  cursor: pointer;
}
#Ef {
  width: 80%;

  /* text-align: center; */
  /* background-color: aqua; */
  margin: auto;
  display: flex;
  flex-direction: row;
}

#easy {
  width: 45%;
}

#easy h1 {
  /* display: flex; */
  font-size: 1.2cm;
}

#easy .e2 {
  color: rgb(0, 107, 255);
}

#easy sup {
  font-size: large;
}

#easy p {
  font-size: larger;
  /* column-width: 200px; */
}

#featured {
  border: 1px solid rgb(225, 225, 225);
  width: 45%;
  display: flex;
  padding-left: 30px;
  border-radius: 5px;
  padding: 30px;
}

#Ef #featured #fe1 h4 {
  color: rgb(0, 107, 255);
}

#Ef #featured #fe1 p {
  color: rgb(142, 142, 142);
}

#Ef #featured #fe2 {
  text-align: center;
  margin-top: 60px;
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  height: 50px;
  width: 150px;
  border-radius: 10px;
  font-size: 15px;
}

#Ef #featured #fe2 .material-icons {
  margin-top: 10px;
}

#Ef #featured #fe2 p {
  cursor: pointer;
  padding-top: 15px;
  font-size: 13px;
  margin-left: 8px;
}

#footer2 {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 200px; */
  border-top: 1px solid rgb(225, 225, 225);
  padding-top: 3%;
}

#footer2 #footer2a1 {
  display: flex;
}

#footer2a1 a {
  text-decoration: none;
  color: black;
  font-size: larger;
  font-weight: bold;
}

#footer2 #footer2a1 .material-icons {
  margin-left: 10px;
}

#footer2 #footer2a {
  display: flex;
  flex-direction: column;
}

#footer2a a {
  text-decoration: none;
  color: black;
  margin-bottom: 15px;
}

#footer2 a small {
  margin-left: 10px;
}

#footer2a .new {
  color: rgb(0, 107, 255);
  background-color: rgb(194, 194, 236);
  padding: 4px;
  border-radius: 10px;
}

#footer2a a:hover {
  text-decoration: underline;
}

#footer2b :first-child {
  font-size: larger;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#footer2b {
  display: flex;
  flex-direction: column;
}

#footer2b a {
  color: black;
  margin-bottom: 15px;
  text-decoration: none;
}

#footer2b a:hover {
  text-decoration: underline;
}

#footer2c .comp {
  font-size: larger;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#footer2c {
  display: flex;
  flex-direction: column;
}

#footer2c a {
  color: black;
  margin-bottom: 15px;
  text-decoration: none;
}

#footer2c a:hover {
  text-decoration: underline;
}

#footer2c .wh {
  /* font-weight: small; */
  color: rgb(0, 107, 255);
  background-color: rgb(194, 194, 236);
  padding: 4px;
  border-radius: 10px;
}
#footer3 {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 5%;
  border-bottom: 1px solid rgb(225, 225, 225);
  padding-bottom: 2%;
}
#footer3a :first-child {
  font-size: larger;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#footer3a {
  display: flex;
  flex-direction: column;
}

#footer3a a {
  color: black;
  margin-bottom: 15px;
  text-decoration: none;
}

#footer3a a:hover {
  text-decoration: underline;
}
#footer4 {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
}
#footer4a {
  height: 30px;
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  /* background-color: aliceblue; */
  text-align: center;
  /* font-size: 20px; */
  color: rgb(100, 118, 152);

  /* padding-left: 10%; */
  padding-top: 1%;
}

#footer4a span {
  margin-left: 5px;
  margin-right: 5px;
}

#footer4a .material-icons {
  color: rgb(100, 118, 152);
  font-size: 20px;
}

#footer4a .material-icons:hover {
  color: rgb(0, 107, 255);
  cursor: pointer;
}

#footer4a:hover {
  color: rgb(0, 107, 255);
  cursor: pointer;
}
#footer4b {
  display: flex;
  flex-direction: row;
}
#footer4b a {
  margin-right: 25px;
  margin-top: 10px;
  text-decoration: none;
  color: black;
}
#f4b1 {
  display: flex;
  flex-direction: row;
}
#f4b1 {
  margin-top: 4px;
}
#f4b1 a {
  color: rgb(142, 142, 142);
  margin-top: 4px;
}
#f4b1 a:hover {
  color: black;
  /* margin-top: px; */
}
#footer4c .bi {
  font-size: x-large;
  margin-left: 20px;
}

.accordion {
  /* background-color: #eee; */
  outline: none;
  border: none;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  color: #444;
  cursor: pointer;
  padding: 18px 0;
  width: 100%;
  text-align: left;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s;
}

/* Style the accordion panel. Note: hidden by default */
.rotate {
  transform: rotate(180deg);
}

.panel {
  padding: 18px 20px;
  transition: all 0.3s;
  border-bottom: 1px solid black;
  background-color: white;
  display: none;
  overflow: hidden;
}
