@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* html{
    width: 100%;
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
} */
body {
    width: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#english {

    padding-bottom: 0.7%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    text-align: center;
    color: rgb(100, 118, 152);
    padding-left: 80%;
    padding-top: 1%;
}

#english span {
    
    margin-left: 5px;
    margin-right: 5px;
}

#english .material-icons {
    color: rgb(100, 118, 152);
    font-size: 20px;
}

#english .material-icons:hover {
    color: rgb(0, 107, 255);
    cursor: pointer;
}

#english:hover {
    color: rgb(0, 107, 255);
    cursor: pointer;
}

#calendlyimage {
    margin-left: 10%;

}

header {
    display: flex;
    text-align: center;
    padding-top: 1.5%;
    padding-bottom: 0.5%;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    height: 5%;
    border-bottom: 1px solid rgb(225, 225, 225);

}

#ham {
    display: none;
}

#navbar {
    margin-left: 8%;
    display: flex;
    flex-direction: row;
    text-align: center;
}

#navbar a {
    margin-left: 40px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding-top: 1%;
    font-size: 16px;
}

#navbar .material-icons {
    font-size: 32px;
}

#navbar :first-child {
    color: rgb(0, 107, 255);
}

#login {
    margin-left: 12%;
}

#login a {
    text-decoration: none;
    color: rgb(0, 107, 255);
}

header {
    z-index: 10;
}

#login button {
    padding: 10px;
    background-color: rgb(0, 107, 255);
    border: 1px solid rgb(0, 107, 255);
    color: white;
    border-radius: 10px;
    width: 120px;
    font-size: 15px;
    margin-left: 20px;
}

#Ef {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;

}

#easy {
    width: 45%;
}

#easy h1 {
    font-size: 1.2cm;


}

#easy .e2 {


    color: rgb(0, 107, 255);


}

#easy sup {
    font-size: large;
}

#easy p {
    font-size: larger;
}

#featured {
    border: 1px solid rgb(225, 225, 225);
    width: 45%;
    display: flex;
    padding-left: 30px;
    border-radius: 5px;
}

#Ef #featured #fe1 h4 {
    color: rgb(0, 107, 255);

}

#Ef #featured #fe1 p {
    color: rgb(142, 142, 142);
}

#Ef #featured #fe2 {
    text-align: center;
    margin-top: 60px;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
    height: 50px;
    width: 150px;
    border-radius: 10px;
}

#Ef #featured #fe2 .material-icons {
    margin-top: 13px;
    margin-left: 10px;
}

#Ef #featured #fe2 p {
    margin-left: 15px;
}

/* page1 */

.page1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 680px;
    background-color: rgb(244, 248, 255);
    position: relative
}

.page1 h4 {
    margin: 0;
    color: rgb(0, 107, 255);
    padding: 15px;
}

.page1 h1 {
    margin: 0;
    font-size: 3.9rem;
    padding: 7px;
    color: rgb(11, 53, 88);
}

.page1 h1>span {
    color: rgb(0, 107, 255);
}

.page1 p {
    width: 800px;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(71, 103, 136);
}

.wrap_button {
    display: flex;
    width: 23%;
    /* border: 2px solid red; */

}

.page1 .wrap_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap_button .sign_in {
    text-align: center;
    width: 100%;
    padding: 10px;
    background-color: rgb(0, 107, 255);
    font-size: 1.1rem;
    font-weight: 600;
    margin: 10px;
    border-radius: 10px;

}

.wrap_button .sign_in>a {
    text-decoration: none;
    color: white;
}

.wrap_button .demo {
    /* height: 15px; */
    text-align: center;
    width: 100%;
    padding: 10px;
    background-color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    border: 1px solid rgb(0, 107, 255);
    border-radius: 10px;
}

.wrap_button .demo a {

    text-decoration: none;
    color: rgb(0, 107, 255);
}

.img1 {

    width: 80%;
    height: 550.5px;
    position: absolute;
    top: 80%;
}

.img1 img {
    width: 100%;
    height: 100%;
}


@media screen  and (max-width:770px) {
    .page1 h1 {
        font-size: 1.9rem;
        text-align: center;
        
    }

    .page1 p {
        font-size: 1rem;
    }
    .img1 img {
        width: 100%;
        height: 100%;
    }
    .img1 {margin: auto;

        display: f;
        width: 80%;
        height: 550.5px;
        position: absolute;
        top: 80%;
    }
    /* .page4 .icon {
        width: 90%;     */
    

    .page5 > h1{
        text-align: center;
    }

    /* .last .lst_bttn {
        margin: 0;
        width: fit-content;
        text-align: center;
    } */

}
/* page 2 */

.page2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 600px;
    text-align: center;
}

.page2 p {
    padding: 0;
    text-align: center;
    width: 500px;
    font-size: 1.6rem;
    font-weight: 500;
}

.page2 p>span {
    font-weight: 700;
    color: rgb(11, 53, 88);
}

.animation {
    width: 90%;
    margin: 70px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.animation .ani1 {
    width: 30%;
    height: 32px;
    animation-name: slider;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.animation .ani1 img {
    width: 100%;
    height: 100%;
}

@keyframes slider {
    0% {
        transform: translateX(-15%);
    }

    25% {
        transform: translateX(-30%);
    }

    50% {
        transform: translateX(-45%);
    }

    75% {
        transform: translateX(-60%);
    }

    100% {
        transform: translateX(-75%);
    }
}


/* page3 */

.page3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(248, 249, 251);
}

.page3 .steps {
    width: 80%;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text {
    width: 50%;
}

.img2 {
    width: 50%;
}

.img2>img {
    width: 100%;
}

.page3 .head {
    margin-top: 7%;
    text-align: center;
}

.page3 .head>span {
    color: rgb(0, 107, 255);
    font-weight: 600;
    letter-spacing: 1px;
}

.page3 .head>h1 {
    color: rgb(11, 53, 88);
    font-weight: 700;
    font-size: 3rem;
}

.steps .text>span {
    /* margin: 1%; */
    padding: 10px;
    color: rgb(0, 107, 255);
    font-weight: 600;
}

.steps .text>h1 {
    padding:  15px 0;
    color: rgb(11, 53, 88);
    font-weight: 650;
    font-size: 2.3rem;
}

.steps .text>p {
    width: 80%;
    color: rgb(97, 124, 152);
    font-size: 1.2rem;
    padding:  15px 0;
}

/* page4 */

.page4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 4% 0;
    padding: 4% 0;
}

.page4 .head2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page4 .head2>span {
    text-align: center;
    font-weight: 500;
    color: rgb(0, 107, 255);
    letter-spacing: 1px;
}

.page4 .head2>h1 {
    text-align: center;
    color: rgb(11, 53, 88);
    font-weight: 650;
    font-size: 3rem;
    width: 70%;
    padding: 10px;
}

.page4 .icon {
    margin: 2%;
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.page4 .icon .icons:hover {
    border: 3px solid rgb(0, 107, 255);
    border-radius: 10px;
    cursor: pointer;
    background-color: #f4f8ff;
}

.page4 .icon .icons {
    width: 15%;
    border: 3px solid transparent;
    height: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page4 .icon #cust {
    width: 25%;
}

.page4 .icon .icons>p {
    font-weight: bold;
    color: rgb(97, 124, 152);
}

.page4 .icon .icons>img {
    color: rgb(97, 124, 152);
}

/* page5 */

.page5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
}

.page5>h1 {
    font-size: 3rem;
    color: rgb(11, 53, 88);
}



.page5 .slidebar button {
    background: transparent;
    border-style: none;
}

.page5 .slidebar button>p {
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(33, 74, 125);
}

.page5 .slidebar button>p:hover {
    color: rgb(0, 107, 255);
}

.page5 .slidebar {
    margin: 5%;
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.avail_pref {
    margin-bottom: 3%;
    width: 70%;
    display: flex;
}

.avail_pref .text1 {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.avail_pref .text1>p {
    margin:  20px 0;
    line-height: 20px;
    font-weight: 400;
    font-size: 1.1rem;
    width: 82%;
    color: rgb(33, 74, 125);
}

.avail_pref .text1>h1 {
    color: rgb(11, 53, 88);
}

.avail_pref .text1 .arrow>a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(0, 107, 255);
}

.avail_pref .sub_img {
    width: 50%;
}

.avail_pref .sub_img>img {
    width: 100%;
}

/* page6 */

.page6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(244, 248, 255);
}

.page6>h1 {
    width: 50%;
    margin-top: 4%;
    font-size: 3rem;
    text-align: center;
    color: rgb(11, 53, 88);
}

.page6>p {
    width: 55%;
    margin-top: 3%;
    font-size: 1.4rem;
    text-align: center;
    color: rgb(33, 74, 125);
}

.page6 .sec .sec1 {
    width: 45%;
}

.page6 .sec .sec1>img {
    padding: 10%;
    width: 100%;
}

.page6 .sec .sec2 {
    width: 45%;
    height: 70%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 0 10%;
}

.page6 .sec .sec2 .sec_sub {
    border: 0.3px solid #efefef;
    border-radius: 10px;
    width: 250px;;
    padding: 12px;
}

.page6 .sec .sec2 .sec_sub > img {
    margin: 10px 10px;
}

.page6 .sec .sec2 .sec_sub>h4 {
    font-size: 1rem;
    color: rgb(11, 53, 88);
    margin: 10px 10px;
}

.page6 .sec .sec2 .sec_sub>p {
    color: rgb(33, 74, 125);
    margin: 10px 10px;
}

.page6 .sec .sec2 .sec_sub>a {
    color: rgb(0, 107, 255);
    text-decoration: none;
    font-weight: 650;
    margin: 10px 10px;
}


.sec {
    display: flex;
    width: 70%;
    margin: 6%;
}

.sec .sec2 .sec_sub:hover {
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}

.sec2 {
    margin-bottom: 10%;
}

/* page7 */

.page7 {
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page7 .text3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page7 .text3>span {
    color: rgb(0, 107, 255);
    font-weight: 550;
}

.page7 .text3>h1 {
    color: rgb(11, 53, 88);
    font-size: 2.7rem;
    width: 60%;
    margin: 2.5% 0;
    text-align: center;
}

.page7 .admin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.page7 .admin .admin_sub_txt {
    width: 50%;
}

.page7 .admin .admin_sub_img {
    width: 50%;
}

.page7 .admin .admin_sub_img>img {
    width: 100%;
}

.page7 .admin .admin_sub_txt>span {
    color: rgb(0, 107, 255);
    font-weight: 550;
}

.page7 .admin .admin_sub_txt>h1 {
    color: rgb(11, 53, 88);
    font-weight: bold;
    margin: 3% 0;
    font-size: 2.2rem;
}

.page7 .admin .admin_sub_txt>p {
    color: rgb(33, 74, 125);
    font-size: 1.2rem;
}

.page7 .admin .admin_sub_txt>a {
    color: rgb(0, 107, 255);
    font-size: 1.1rem;
    font-weight: 550;
    text-decoration: none;
}


.security {
    display: flex;
    margin: 7% 0%;
    width: 80%;
}

.security .security_img {
    width: 50%;
}

.security .security_img>img {
    width: 100%;
}

.security .security_txt {
    margin-top: 10%;
    width: 50%;
}

.security .security_txt>span {
    color: rgb(0, 107, 255);
    font-weight: 550;
}

.security .security_txt>h1 {
    color: rgb(11, 53, 88);
    font-weight: bold;
    margin: 3% 0;
    font-size: 2.2rem;
}

.security .security_txt>p {
    color: rgb(33, 74, 125);
    font-size: 1.2rem;
}

.security .security_txt>a {
    color: rgb(0, 107, 255);
    font-size: 1.1rem;
    font-weight: 550;
    text-decoration: none;
}

.page7>h1 {
    width: 50%;
    text-align: center;
    color: rgb(11, 53, 88);
    font-weight: bold;
    font-size: 2.7rem;
}

.design {
    margin: 7%;
    display: flex;
    width: 80%;
}

.design .des_txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.design .des_txt .des_txt_sub>p {
    width: 70%;
    margin: 3% 0;
    font-size: 1.1rem;
    color: rgb(71, 103, 136);
}

.design .des_txt .des_txt_sub .icon>span {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(11, 53, 88);
}

.design .des_img {
    width: 50%;
}

.design .des_img>img {
    width: 100%;
}

.design .des_txt {
    width: 50%;
}

/* last  */


.last {
    width: 77%;
    background-color: rgb(11, 53, 88);
    color: white;
    border-radius: 50px;
    display: flex;

}

.last .lst_txt {
    margin-left: 4%;
    margin-top: 7%;
    width: 80%;
}

.last .lst_txt>h1 {
    font-size: 2.3rem;
}

.last .lst_txt>p {
    font-size: 1.2rem;
    width: 100%;
    margin: 3% 0;
}

.last .lst_bttn {
    margin: 12%;
    width: 20%;
    text-align: center;
}

.last .lst_bttn>a {
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 15px 20px;
    background-color: rgb(0, 107, 255);
    border-radius: 10px;
    font-weight: 600;

}

@media screen and (max-width: 1100px) and (min-width: 900px) {
    .last .lst_bttn {
        width: 30%;
        text-align: center;
    }
}




































/* footer */

#footer2 {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 200px; */
    border-top: 1px solid rgb(225, 225, 225);
    padding-top: 3%;

}

#footer2 #footer2a1 {

    display: flex;
}

#footer2a1 a {
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: bold;
}

#footer2 #footer2a1 .material-icons {
    margin-left: 10px;
}

#footer2 #footer2a {
    display: flex;
    flex-direction: column;
}

#footer2a a {
    text-decoration: none;
    color: black;
    margin-bottom: 15px;
}

#footer2 a small {
    margin-left: 10px;
}

#footer2a .new {
    color: rgb(0, 107, 255);
    background-color: rgb(194, 194, 236);
    padding: 4px;
    border-radius: 10px;

}

#footer2a a:hover {
    text-decoration: underline;
}

#footer2b :first-child {
    font-size: larger;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#footer2b {
    display: flex;
    flex-direction: column;
}

#footer2b a {
    color: black;
    margin-bottom: 15px;
    text-decoration: none;

}

#footer2b a:hover {
    text-decoration: underline;
}

#footer2c .comp {
    font-size: larger;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#footer2c {
    display: flex;
    flex-direction: column;
}

#footer2c a {
    color: black;
    margin-bottom: 15px;
    text-decoration: none;

}

#footer2c a:hover {
    text-decoration: underline;
}

#footer2c .wh {
    color: rgb(0, 107, 255);
    background-color: rgb(194, 194, 236);
    padding: 4px;
    border-radius: 10px;

}

#footer3 {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 5%;
    border-bottom: 1px solid rgb(225, 225, 225);
    padding-bottom: 2%;
}

#footer3a :first-child {
    font-size: larger;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#footer3a {
    display: flex;
    flex-direction: column;
}

#footer3a a {
    color: black;
    margin-bottom: 15px;
    text-decoration: none;

}

#footer3a a:hover {
    text-decoration: underline;
}

#footer4 {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}

#footer4a {
    height: 30px;
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    /* background-color: aliceblue; */
    text-align: center;
    /* font-size: 20px; */
    color: rgb(100, 118, 152);

    /* padding-left: 10%; */
    padding-top: 1%;
}

#footer4a span {
    margin-left: 5px;
    margin-right: 5px;
}

#footer4a .material-icons {
    color: rgb(100, 118, 152);
    font-size: 20px;
}

#footer4a .material-icons:hover {
    color: rgb(0, 107, 255);
    cursor: pointer;
}

#footer4a:hover {
    color: rgb(0, 107, 255);
    cursor: pointer;
}

#footer4b {
    display: flex;
    flex-direction: row;

}

#footer4b a {
    margin-right: 25px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
}

#f4b1 {

    display: flex;
    flex-direction: row;
}

#f4b1 {
    margin-top: 4px;
}

#f4b1 a {
    color: rgb(142, 142, 142);
    margin-top: 4px;
}

#f4b1 a:hover {
    color: black;
    /* margin-top: px; */
}

#footer4c .bi {
    font-size: x-large;
    margin-left: 20px;

}