body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

#english {
    height: 30px;
    /* width: 100vw; */
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    text-align: center;
    /* font-size: 20px; */
    color: rgb(100, 118, 152);

    padding-left: 80%;
    padding-top: 1%;
}

#english span {
    margin-left: 5px;
    margin-right: 5px;
}

#english .material-icons {
    color: rgb(100, 118, 152);
    font-size: 20px;
}

#english .material-icons:hover {
    color: rgb(0, 107, 255);
    cursor: pointer;
}

#english:hover {
    color: rgb(0, 107, 255);
    cursor: pointer;
}

#calendlyimage {
    /* margin-top: 0; */
    margin-left: 10%;

}

header {
    display: flex;
    text-align: center;
    padding-top: 1.5%;
    padding-bottom: 0.5%;
    /* justify-content: center; */
    /* position: fixed; */
    width: 100%;
    background-color: white;
    height: 5%;
    border-bottom: 1px solid rgb(225, 225, 225);
overflow: hidden;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    /* background-color: yellow; */
}

#navbar {
    margin-left: 8%;
    display: flex;
    flex-direction: row;
    text-align: center;
    /* display: none; */
}

#navbar a {
    margin-left: 40px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding-top: 1%;
    font-size: 16px;
}

#navbar .material-icons {
    font-size: 32px;
}

#navbar :first-child {
    color: rgb(0, 107, 255);
}

#login {
    margin-left: 12%;
}

#login a {
    text-decoration: none;
    color: rgb(0, 107, 255);
}

#login button {
    padding: 10px;
    background-color: rgb(0, 107, 255);
    border: 1px solid rgb(0, 107, 255);
    color: white;
    border-radius: 10px;
    width: 120px;
    font-size: 15px;
    margin-left: 20px;
}
#head #ham{
    content-visibility:hidden;
}

footer{
    margin-top: 5%;
}
#Ef {
    width: 80%;

    /* text-align: center; */
    /* background-color: aqua; */
    margin: auto;
    display: flex;
    flex-direction: row;

}

#easy {
    width: 45%;
}

#easy h1 {
    /* display: flex; */
    font-size: 1.2cm;


}

#easy .e2 {


    color: rgb(0, 107, 255);


}

#easy sup {
    font-size: large;
}

#easy p {
    font-size: larger;
    /* column-width: 200px; */
}

#featured {
    border: 1px solid rgb(225, 225, 225);
    width: 50%;
    display: flex;
    padding-left: 30px;
    border-radius: 5px;
}

#Ef #featured #fe1 h4 {
    color: rgb(0, 107, 255);

}

#Ef #featured #fe1 p {
    color: rgb(142, 142, 142);
}

#Ef #featured #fe2 {
    text-align: center;
    margin-top: 60px;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
    height: 50px;
    width: 170px;
    border-radius: 10px;
}

#Ef #featured #fe2 .material-icons {
    /* font-size:25px; */
    margin-top: 13px;
    margin-left: 10px;
}

#Ef #featured #fe2 p {
    margin-left: 15px;
}

#footer2 {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 200px; */
    border-top: 1px solid rgb(225, 225, 225);
    padding-top: 3%;

}

#footer2 #footer2a1 {

    display: flex;
}

#footer2a1 a {
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: bold;
}

#footer2 #footer2a1 .material-icons {
    margin-left: 10px;
}

#footer2 #footer2a {
    display: flex;
    flex-direction: column;
}

#footer2a a {
    text-decoration: none;
    color: black;
    margin-bottom: 15px;
}

#footer2 a small {
    margin-left: 10px;
}

#footer2a .new {
    color: rgb(0, 107, 255);
    background-color: rgb(194, 194, 236);
    padding: 4px;
    border-radius: 10px;

}

#footer2a a:hover {
    text-decoration: underline;
}

#footer2b :first-child {
    font-size: larger;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#footer2b {
    display: flex;
    flex-direction: column;
}

#footer2b a {
    color: black;
    margin-bottom: 15px;
    text-decoration: none;

}

#footer2b a:hover {
    text-decoration: underline;
}

#footer2c .comp {
    font-size: larger;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#footer2c {
    display: flex;
    flex-direction: column;
}

#footer2c a {
    color: black;
    margin-bottom: 15px;
    text-decoration: none;

}

#footer2c a:hover {
    text-decoration: underline;
}

#footer2c .wh {
    /* font-weight: small; */
    color: rgb(0, 107, 255);
    background-color: rgb(194, 194, 236);
    padding: 4px;
    border-radius: 10px;

}

#footer3 {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 5%;
    border-bottom: 1px solid rgb(225, 225, 225);
    padding-bottom: 2%;
}

#footer3a :first-child {
    font-size: larger;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#footer3a {
    display: flex;
    flex-direction: column;
}

#footer3a a {
    color: black;
    margin-bottom: 15px;
    text-decoration: none;

}

#footer3a a:hover {
    text-decoration: underline;
}

#footer4 {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}

#footer4a {
    height: 30px;
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    /* background-color: aliceblue; */
    text-align: center;
    /* font-size: 20px; */
    color: rgb(100, 118, 152);

    /* padding-left: 10%; */
    padding-top: 1%;
}

#footer4a span {
    margin-left: 5px;
    margin-right: 5px;
}

#footer4a .material-icons {
    color: rgb(100, 118, 152);
    font-size: 20px;
}

#footer4a .material-icons:hover {
    color: rgb(0, 107, 255);
    cursor: pointer;
}

#footer4a:hover {
    color: rgb(0, 107, 255);
    cursor: pointer;
}

#footer4b {
    display: flex;
    flex-direction: row;

}

#footer4b a {
    margin-right: 25px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
}

#f4b1 {

    display: flex;
    flex-direction: row;
}

#f4b1 {
    margin-top: 4px;
}

#f4b1 a {
    color: rgb(142, 142, 142);
    margin-top: 4px;
}

#f4b1 a:hover {
    color: black;
    /* margin-top: px; */
}

#footer4c .bi {
    font-size: x-large;
    margin-left: 20px;

}

#main {
    height: 80vh;
    /* width: 100%; */
    background-image: url("https://marketing-assets.calendly.com/media/experimentImages/hero-bkg-half-no-margin.png");
    background-size: 80%;
    /* background-color: aqua; */
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: aqua; */


}

#feature {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: auto;

    border: 1px solid grey;
    width: 240px;
    padding: 5px;
    border-radius: 20px;
    /* padding-top: 10%; */
    margin-top: 6%;
}

#feature span {
    background-color: rgb(0, 107, 255);
    border-radius: 20px;
    /* width: 60px; */
    padding: 4px;
    font-size: small;
}

#feature small {
    margin-left: 10px;
    margin-top: 5px;
}

#feature .material-icons {
    margin-left: 10px;
}

#scheduling {
    margin: auto;
    text-align: center;
}

#scheduling h1 {
    font-size: 2cm;
    padding: 0;
    margin: 0;
    margin-top: 2%;
}

#scheduling p {
    font-size: x-large;
}

#free {
    /* width: 80%; */
    display: flex;
    flex-direction: row;
    /* margin: auto;
    text-align: center; */
    justify-content: center;
}

#free #google {
    width: 260px;
    height: 60px;
    background-color: rgb(0, 107, 255);
    display: flex;
    border-radius: 5px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    /* margin-top: 1%; */

}

#free #google:hover {
    cursor: pointer;
}

#free #google svg {
    border: 1px solid grey;
    padding: 10px;
    border-radius: 5px;
    margin-top: 7px;
    margin-bottom: 7px;
    background-color: white;
    margin-left: 10px;
}

#free #microsoft {
    width: 280px;
    height: 60px;

    background-color: rgb(0, 107, 255);
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
    /* margin-top: 1%; */
}

#free #microsoft:hover {
    cursor: pointer;
}

#free #microsoft svg {
    border: 1px solid grey;
    padding: 10px;
    border-radius: 5px;
    margin-top: 7px;
    margin-bottom: 7px;
    background-color: white;
    margin-left: 10px;
}

#signup {
    text-align: center;
    margin-bottom: 0;
    margin-top: 2%;
}

#hori {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: auto;
    justify-content: center;
    margin-top: 1%;
}

#hori #hori1 {
    width: 245px;
    /* border-bottom: 1px solid red; */
}

#hori span {
    margin-left: 10px;
    margin-right: 10px;
    font-size: large;
}

#nocredit {
    text-align: center;

}

#nocredit a {
    text-decoration: none;
    color: rgb(0, 107, 255);

}

#video {
    height: 90vh;
    width: 80vw;
    /* background-color: aqua; */
    margin: auto;
}

#simplefied {
    text-align: center;
    margin-top: 18%;
    font-size: xx-large;
}

/* #loopslide{
    overflow:hidden;
    
} */
#rotating {
    /* text-align: center; */
    margin-top: 3%;
    display: flex;
    width: 100%;
    /* animation: rota 10s   linear infinite ;  */

}

#rotating img {
    height: 20px;
    /* width:250; */
    margin-right: 5%;


}

/* @keyframes rota{
    100%{
        transform: translateX(-100%)
}
} */
#abovelogo {
    width: 80%;
    display: flex;
    flex-direction: row;
    /* text-align: center; */
    margin: auto;
    justify-content: space-around;
    margin-top: 30%;
}

#abovelogo #sync h1 {
    font-size: 1.2cm;
}

#boost {
    margin-top: 2.5%;


}

#boost1 {
    display: flex;
}

#boost a {
    text-decoration: none;
    color: rgb(0, 107, 255);
    margin-top: 2px;

}

#boost1 .material-icons {
    /* margin-top: 10px; */
    color: rgb(0, 107, 255);
    margin-left: 10px;

}

#boost1 a:hover {
    color: black;
}

#boost1:hover .material-icons {
    transform: translateX(10px);
    color: black;
}

#logo1 {
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
    width: 80%;
    /* height: 150px; */
    margin: auto;
}


#logo1 #logo1a {
    border: 1px solid rgb(208, 208, 208);
    height: 110px;
    /* height: 55%; */
    width: 10%;
    text-align: center;
    border-radius: 10px;
    margin-left: 15px;

}

#logo1 #logo1a img {

    padding: 29px;

    width: 50px;
    /* box-shadow: 1px 1px 1px #aaaaaa; */
    /* box-shadow: 0px 04px 4px  blue; */
}

#logo1 #logo1b {
    border: 1px solid rgb(208, 208, 208);
    height: 110px;
    width: 10%;
    text-align: center;
    border-radius: 10px;
    margin-left: 15px;
    /* object-fit: cover; */

}

#logo1 #logo1b img {

    padding-top: 24px;

    width: 100px;
    /* box-shadow: 1px 1px 1px #aaaaaa; */
    /* box-shadow: 0px 04px 4px  blue; */
}

#logo1 #logo1c {
    border: 1px solid rgb(208, 208, 208);
    height: 110px;

    width: 10%;
    text-align: center;
    border-radius: 10px;
    margin-left: 15px;
    /* object-fit: cover; */

}

#logo1 #logo1c img {

    /* padding: 29px; */
    margin-top: 2px;
    width: 100px;
    /* box-shadow: 1px 1px 1px #aaaaaa; */
    /* box-shadow: 0px 04px 4px  blue; */
}

#logo2 {
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
    width: 80%;
    height: 200px;
    margin: auto;
}

#logo2 #logo2a {
    border: 1px solid rgb(208, 208, 208);
    height: 110px;

    width: 10%;
    text-align: center;
    border-radius: 10px;
    margin-left: 15px;
}

#logo2 #logo2a img {

    padding: 29px;

    width: 50px;
    /* box-shadow: 1px 1px 1px #aaaaaa; */
    /* box-shadow: 0px 04px 4px  blue; */
}

#logo2 #logo2b {
    border: 1px solid rgb(208, 208, 208);
    height: 110px;

    width: 10%;
    text-align: center;
    border-radius: 10px;
    margin-left: 15px;
}

#logo2 #logo2b img {

    padding: 29px;

    width: 20px;
    /* box-shadow: 1px 1px 1px #aaaaaa; */
    /* box-shadow: 0px 04px 4px  blue; */
}

#logo2 #logo2c {
    border: 1px solid rgb(208, 208, 208);
    height: 110px;

    width: 10%;
    text-align: center;
    border-radius: 10px;
    margin-left: 15px;
}

#logo2 #logo2c img {

    padding: 20px;

    width: 80px;
    /* box-shadow: 1px 1px 1px #aaaaaa; */
    /* box-shadow: 0px 04px 4px  blue; */
}

#logo2 #logo2d {
    border: 1px solid rgb(208, 208, 208);
    height: 110px;

    width: 10%;
    text-align: center;
    border-radius: 10px;
    margin-left: 15px;
}

#logo2 #logo2d img {

    padding: 10px;

    width: 100px;
    /* box-shadow: 1px 1px 1px #aaaaaa; */
    /* box-shadow: 0px 04px 4px  blue; */
}

#smarter {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 10%;
    /* column-width: 50%; */
}

#smarter h1 {
    font-size: 1.3cm;
    column-width: 50%;
}

#slaesnav {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    /* border-bottom: 3px solid rgb(224, 222, 222); */
    padding-bottom: 1%;
    margin-top: 6%;
}

#slaesnav a {
    text-decoration: none;
    color: rgb(99, 99, 114);
    font-size: 16px;


}

#slaesnav #salesnav1 {
    width: 15%;
    color: rgb(0, 107, 255);
    border-bottom: 3px solid rgb(0, 107, 255);
    text-align: center;
    padding-bottom: 2%;
}

#slaesnav #salesnav1 a {
    color: rgb(0, 107, 255);
}

#slaesnav #salesnav2 {
    width: 19%;
    color: rgb(0, 107, 255);
    border-bottom: 3px solid rgb(224, 222, 222);
    text-align: center;
    padding-bottom: 2%;
}

#slaesnav #salesnav3 {
    width: 17%;
    color: rgb(0, 107, 255);
    border-bottom: 3px solid rgb(224, 222, 222);
    text-align: center;
    padding-bottom: 2%;
}

#slaesnav #salesnav4 {
    width: 17%;
    color: rgb(0, 107, 255);
    border-bottom: 3px solid rgb(224, 222, 222);
    text-align: center;
    padding-bottom: 2%;
}

#slaesnav #salesnav5 {
    width: 17%;
    color: rgb(0, 107, 255);
    border-bottom: 3px solid rgb(224, 222, 222);
    text-align: center;
    padding-bottom: 2%;
}

#slaesnav #salesnav6 {
    width: 17%;
    color: rgb(0, 107, 255);
    border-bottom: 3px solid rgb(224, 222, 222);
    text-align: center;
    padding-bottom: 2%;
}

#sales {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px;
    width: 70%;
    margin: auto;

}

#sales #left img {
    width: 100%;
}

#sales #right #book #drive {
    display: flex;
    flex-direction: row;
    padding-bottom: 0%;
}

#sales #right #book #drive h3 {
    margin-top: 5%;
}

#sales #right #book p {
    font-size: larger;
    margin-left: 4%;
    margin-top: 0%;
}

#learnmore {
    margin-left: 4%;
    color: rgb(0, 107, 255);
    display: flex;
    text-align: center;


}

#learnmore a {
    text-decoration: none;
    color: rgb(0, 107, 255);
    /* font-size: larger; */

}

#learnmore .material-icons {
    margin-left: 8px;
    margin-top: -3px;


}

#learnmore :hover {
    color: black;

}

#right #learnmore:hover .material-icons {
    transform: translateX(10px);
    color: black;
    cursor: pointer;


}

#see {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 6%;
}

#see h1 {
    font-size: 1.2cm;
}

#see p {
    font-size: large;
    line-height: 25px;
}

#video2 {
    height: 90vh;
    width: 80vw;
    /* background-color: aqua; */
    margin: auto;
    text-align: center;
    margin-top: 4%;
}

#for {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(0, 107, 255);

}

#for a {
    text-decoration: none;
    color: rgb(0, 107, 255);
    font-size: larger;

}

#for .material-icons {
    margin-left: 10px;


}

#for:hover .material-icons {
    transform: translateX(10px);
    color: black;
    cursor: pointer;
}

#for :hover {
    color: black;
}

#company {
    background-color: aliceblue;
}

#dc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    width: 80%;
    padding-top: 8%;
    /* text-align: center; */
}

#company #dc #discover h1 {
    font-size: 1.2cm;
    color: rgb(5, 51, 51);
}

#company #dc #customer p {
    padding-top: 5%;
    color: rgb(5, 51, 51);
    font-size: large;
    line-height: 25px;

}

#stories {
    display: flex;
    flex-direction: row;
    /* justify-content:left; */
    color: rgb(0, 107, 255);

}

 #stories a {
    text-decoration: none;
    color: rgb(0, 107, 255);
    /* font-size: larger; */
    /* color: red; */

}

#stories .material-icons {
    margin-left: 10px;
    margin-top: -3px;


}

#stories:hover .material-icons {
    transform: translateX(10px);
    color: black;
    cursor: pointer;
}

#stories :hover {
    color: black;
}

#cimage {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    margin-top: 2%;

}

#cimage #cimage1 {
    width: 180px;
    height: 70px;
    border: 1px solid rgb(0, 107, 255);
    text-align: center;
    border-radius: 10px;
    background-color: white;
    margin-right: 15px;
}

#cimage #cimage1 img {
    width: 80px;
    /* padding: 25px; */
    /* margin-left: 15px; */
    margin-top: 22px;
}

#cimage #cimage1:hover {
    background-color: aliceblue;

}

#cimage #cimage2 {
    width: 180px;
    height: 70px;
    border: 1px solid rgb(227, 225, 225);

    text-align: center;
    border-radius: 10px;
    background-color: white;
    margin-right: 15px;

}

#cimage #cimage2 img {
    width: 120px;
    /* padding: 25px; */
    /* margin-left: 15px; */
    /* margin-top: 22px; */
}

#cimage #cimage2:hover {
    background-color: aliceblue;

}

#cimage #cimage3 {
    width: 180px;
    height: 70px;
    border: 1px solid rgb(227, 225, 225);

    text-align: center;
    border-radius: 10px;
    background-color: white;
    margin-right: 15px;

}

#cimage #cimage3 img {
    width: 120px;
    /* padding: 25px; */
    /* margin-left: 15px; */
    margin-top: 20px;
}

#cimage #cimage3:hover {
    background-color: aliceblue;

}

#cimage #cimage4 {
    width: 180px;
    height: 70px;
    border: 1px solid rgb(227, 225, 225);
    text-align: center;
    border-radius: 10px;
    background-color: white;
    margin-right: 15px;

}

#cimage #cimage4 img {
    width: 100px;
    /* padding: 25px; */
    /* margin-left: 15px; */
    margin-top: 5px;
}

#cimage #cimage4:hover {
    background-color: aliceblue;

}

#cimage #cimage5 {
    width: 180px;
    height: 70px;
    border: 1px solid rgb(227, 225, 225);

    text-align: center;
    border-radius: 10px;
    background-color: white;
    margin-right: 15px;
}

#cimage #cimage5 img {
    width: 80px;
    /* padding: 25px; */
    /* margin-left: 15px; */
    margin-top: 22px;
}

#cimage #cimage5:hover {
    background-color: aliceblue;

}

#company #percentage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: auto;
    color: rgb(5, 51, 51);
    margin-top: 5%;


}

#company {
    padding-bottom: 8%;
    margin-top: 2%;
}

#company #percentage #percentage1 {
    margin-right: 10%;
}

#company #percentage #percentage1 h1 {
    font-size: 1.8cm;
    margin-bottom: 0%;
}

#company #percentage #percentage1 hr {
    background-color: rgb(0, 107, 255);
    height: 1px;

}

#story {
    display: flex;
    flex-direction: row;
    /* justify-content:left; */
    color: rgb(5, 51, 51);

    width: 80%;
    text-align: center;
    margin-top: 8%;

}

#story a {
    text-decoration: none;
    /* color: rgb(0, 107, 255); */
    color: rgb(5, 51, 51);

    /* font-size: larger; */

}

#story .material-icons {
    margin-left: 10px;
    margin-top: -3px;


}

#story:hover .material-icons {
    transform: translateX(10px);
    color: black;
    cursor: pointer;
}

#story :hover {
    color: black;
}

#iso {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: auto;

    border: 1px solid grey;
    width: 220px;
    padding: 5px;
    border-radius: 20px;
    /* padding-top: 10%; */
    margin-top: 6%;
}
#iso:hover{
    cursor: pointer;
}
#iso span {
    background-color: rgb(0, 107, 255);
    border-radius: 20px;
    /* width: 60px; */
    padding: 4px;
    font-size: small;
}

#iso small {
    margin-left: 10px;
    margin-top: 5px;
}

#iso .material-icons {
    margin-left: 10px;
}

#organization {
    text-align: center;
}

#organization h1 {
    font-size: 1.2cm;
    color: rgb(5, 51, 51);
    margin-top: 0%;

}

#isi {
    display: flex;
    flex-direction: row;
    /* width: 80%; */
/* margin: auto;
    text-align: center; */
    /* padding-left: 400px; */
    margin-left: 25%;
}

#isi #isiimg img {
    width: 100px;
    margin-right: 30px;
    /* margin: 0%;
              padding: 0%; */
}

#keep {
    text-align: center;
}

#keep p {
    line-height: 25px;
    font-size: large;
    color: rgb(5, 51, 51);

}

#learnmore2 {
    margin-left: 4%;
    color: rgb(0, 107, 255);
    display: flex;
    text-align: center;
    margin-left: 45%;


}

#learnmore2 a {
    text-decoration: none;
    color: rgb(0, 107, 255);
    /* font-size: larger; */

}

#learnmore2 .material-icons {
    margin-left: 8px;
    margin-top: -3px;


}

#learnmore2 :hover {
    color: black;
    cursor: pointer;

}

#learnmore2:hover .material-icons {
    transform: translateX(10px);
    color: black;
    cursor: pointer;


}

#power {
    width: 80%;
    /* height: 400px; */
    margin: auto;
    background-color:rgb(10, 37, 64);
    border-radius: 32px;
    text-align: center;
color: white;
padding-bottom: 5%;
margin-top: 6%;

}
#power h1{
font-size: 1.2cm;
color: white;
padding-top: 6%;
}
#power p{
    font-size: larger;
    /* letter-spacing: 1px; */
}
#talk{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
#power #talk #signup #button1{
    padding: 15px;
    width: 160px;
    font-size: 16px;
    font-weight:600;
    background-color: rgb(0, 107, 255);
color: white;
    border-radius: 10px;
    border: 1px solid rgb(0, 107, 255) ;
}
#power #talk #signup #button1:hover{
    background-color: rgb(31, 87, 165);

}
#power #talk #talksale #button2{
    padding: 15px;
    width: 140px;
    background-color:rgb(10, 37, 64);
border: 1px solid white;
color: white;
border-radius: 10px;
font-size: 16px;
font-weight:600;
margin-left: 20px;
margin-top: 25px;

}
#together {
    background-color: rgb(12, 58, 103);
    /* text-align: center; */
    overflow: auto;
    flex: none;
    flex-flow: column nowrap;
    height: 90vh;
}
#together::-webkit-scrollbar {
    display: none;
}

#together #Meeting {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 600px;
    width: 80%;
    margin: auto;
}

#together #team {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 800px;
    width: 80%;
    margin: auto;
}

#together #number {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 800px;
    width: 80%;
    margin: auto;
}

#together h1 {

    font-size: 1.2cm;
    color: white;
    text-align: center;

}

#together #Meeting #meeting1 {
    color: white;
}

#together #Meeting #meeting1 h2 {
    font-size: 1cm;

}

#together #Meeting #meeting1 p {
    font-size: larger;

}

#learnmore3 {
    display: flex;
    flex-direction: row;



}

#learnmore3 a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 18px;

}

#learnmore3 .material-icons {
    margin-left: 10px;
    /* margin-top: -3px; */


}

#learnmore3:hover .material-icons {
    transform: translateX(10px);

    cursor: pointer;
}

#meeting2 img {
    width: 90%;
}

@media screen and (max-width:1400px){
    #head{
       /* width: 1000px; */
       /* background-color: brown; */
       display: flex;
       flex-direction: row;
       height: 5%;
    }
    #navbar {
        /* margin-left: 8%; */
        display: flex;
        flex-direction: row;
        text-align: center;
        /* display: none; */
    }
    #navbar a {
        margin-left: 40px;
        text-decoration: none;
        color: black;
        font-weight: 600;
        padding-top: 1%;
        font-size: 16px;
    }
    #head #login{
        margin-left: 10%;
    }
    .sticky {
        position: fixed;
        top: 0;
        /* width: 1000px; */
        /* width: 100%; */
        /* background-color: yellow; */
    }
    #scheduling h1 {
        font-size: 1.8cm;
        padding: 0;
        margin: 0;
        margin-top: 2%;
    }
    #scheduling p {
        font-size: larger;
    }
    #main {
        height: 80vh;
        /* width: 100%; */
        /* background-image: url("https://marketing-assets.calendly.com/media/experimentImages/hero-bkg-half-no-margin.png"); */
        background-size: 100%;
        /* background-color: aqua; */
        margin: auto;
        background-position: center;
        background-repeat: no-repeat;
        /* background-color: aqua; */
    
    
    }
    #video {
        height:700px;
        width: 1200px;
        /* background-color: aqua; */
        /* margin: auto; */
    }
}
@media screen and (max-width:1300px){
    #head{
       /* width: 1000px; */
       /* background-color: brown; */
       display: flex;
       flex-direction: row;
       height: 5%;
    }
    #calendlyimage {
        /* margin-top: 0; */
        margin-left: 8%;
    
    }
    #navbar {
        /* margin-left: 8%; */
        display: flex;
        flex-direction: row;
        text-align: center;
        /* display: none; */
    }
    #navbar a {
        margin-left: 30px;
        text-decoration: none;
        color: black;
        font-weight: 600;
        padding-top: 1%;
        font-size: 16px;
    }
    #head #login{
        margin-left: 5%;
    }
    .sticky {
        position: fixed;
        top: 0;
        /* width: 1000px; */
        /* width: 100%; */
        /* background-color: yellow; */
    }
    #scheduling h1 {
        font-size: 1.5cm;
        padding: 0;
        margin: 0;
        margin-top: 2%;
    }
    #scheduling p {
        font-size: larger;
    }
    #main {
        height: 80vh;
        /* width: 100%; */
        /* background-image: url("https://marketing-assets.calendly.com/media/experimentImages/hero-bkg-half-no-margin.png"); */
        background-size: 100%;
        /* background-color: aqua; */
        margin: auto;
        background-position: center;
        background-repeat: no-repeat;
        /* background-color: aqua; */
    
    
    }
    #video {
        height:600px;
        width: 900px;
        /* background-color: aqua; */
        margin: auto;
       
    }
}
@media screen and (max-width:1200px){
    #head{
       /* width: 1000px; */
       /* background-color: brown; */
       display: flex;
       flex-direction: row;
       height: 5%;
    }
    #calendlyimage {
        /* margin-top: 0; */
        margin-left: 5%;
    
    }
    #navbar {
        /* margin-left: 8%; */
        display: flex;
        flex-direction: row;
        text-align: center;
        /* display: none; */
    }
    #navbar a {
        margin-left: 20px;
        text-decoration: none;
        color: black;
        font-weight: 600;
        padding-top: 1%;
        font-size: 16px;
    }
    #head #login{
        /* margin-left: 5%; */
    }
    .sticky {
        position: fixed;
        top: 0;
        /* width: 1000px; */
        /* width: 100%; */
        /* background-color: yellow; */
    }
    #scheduling h1 {
        font-size: 1.2cm;
        padding: 0;
        margin: 0;
        margin-top: 2%;
    }
    #scheduling p {
        font-size: large;
    }
    #main {
        height: 80vh;
        /* width: 100%; */
        /* background-image: url("https://marketing-assets.calendly.com/media/experimentImages/hero-bkg-half-no-margin.png"); */
        background-size:1000px;
        /* background-color: aqua; */
        margin: auto;
        background-position: center;
        background-repeat: no-repeat;
        /* background-color: aqua; */
    
    
    }
    #video {
        height:500px;
        width: 700px;
        /* background-color: aqua; */
        margin: auto;
       
    }
}
@media screen and (max-width:1100px){
    #head{
       /* width: 1000px; */
       /* background-color: brown; */
       display: flex;
       flex-direction: row;
       height: 5%;
    }
    #calendlyimage {
        /* margin-top: 0; */
        margin-left: 2%;
    
    }
    #navbar {
        /* margin-left: 8%; */
        display: flex;
        flex-direction: row;
        text-align: center;
        /* display: none; */
    }
    #navbar a {
        margin-left: 20px;
        text-decoration: none;
        color: black;
        font-weight: 600;
        padding-top: 1%;
        font-size: 14px;
    }
    #head #login{
        margin-left: 2%;
    }
    .sticky {
        position: fixed;
        top: 0;
        /* width: 1000px; */
        /* width: 100%; */
        /* background-color: yellow; */
    }
    #scheduling h1 {
        font-size: 1cm;
        padding: 0;
        margin: 0;
        margin-top: 2%;
    }
    #scheduling p {
        font-size: large;
    }
    #main {
        height: 80vh;
        /* width: 100%; */
        /* background-image: url("https://marketing-assets.calendly.com/media/experimentImages/hero-bkg-half-no-margin.png"); */
        background-size: 100%;
        /* background-color: aqua; */
        margin: auto;
        background-position: center;
        background-repeat: no-repeat;
        /* background-color: aqua; */
    
    
    }
}
@media screen and (max-width:1000px){
    #navbar{
        display: none;
    }
    #ham{
       display: contents;
       /* font-size: larger; */
    }
    #ham .material-icons{
        font-size: 40px;
        margin-left: 5%;
    }
    #head #login{
        margin-left: 30%;
        font-size: larger;
    }
    #login button {
        padding: 10px;
        background-color: rgb(0, 107, 255);
        border: 1px solid rgb(0, 107, 255);
        color: white;
        border-radius: 10px;
        width: 160px;
        font-size: 20px;
        margin-left: 20px;
    }
    #scheduling h1 {
        font-size: 1cm;
        padding: 0;
        margin: 0;
        margin-top: 2%;
    }
    #scheduling p {
        font-size: large;
    }
    #main {
        height: 80vh;
        /* width: 100%; */
        /* background-image: url("https://marketing-assets.calendly.com/media/experimentImages/hero-bkg-half-no-margin.png"); */
        background-size: 100%;
        /* background-color: aqua; */
        margin: auto;
        background-position: center;
        background-repeat: no-repeat;
        background: none;
        /* background-color: aqua; */
    
    
    }
    #video {
        height:400px;
        width: 600px;
        /* background-color: aqua; */
        margin: auto;
       
    }
}
@media screen and (max-width:700px){
    #head #login{
        display: none;
    }
    #ham{
        display: contents;
        /* font-size: larger; */
     }
     #ham .material-icons{
         font-size: 40px;
         margin-left: 60%;
         /* margin-right: 4%; */
     }
     #ham:hover{
           cursor: pointer;
     }
   
}
@media screen and (max-width:500px){
    #ham .material-icons{
        font-size: 40px;
        margin-left: 55%;
        /* margin-right: 4%; */
    }
    #scheduling p {
        font-size: 12px;
        text-align: center;
}
#free #google {
    width: 220px;
    height: 80px;
    background-color: rgb(0, 107, 255);
    display: flex;
    border-radius: 10px;
    color: white;
    padding-left: 5px;
    text-align: center;
    padding-right: 5px;
    line-height: 25px;
    /* margin-top: 1%; */

}
#free #google svg {
    border: 1px solid grey;
    /* padding: 10px; */
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 7px;
    background-color: white;
    margin-left: 0px;
}
#free #microsoft {
    width: 220px;
    height: 80px;
    background-color: rgb(0, 107, 255);
    display: flex;
    border-radius: 10px;
    color: white;
    padding-left: 5px;
    text-align: center;
    padding-right: 5px;
    line-height: 25px;
    /* margin-top: 1%; */

}
#free #microsoft svg {
    border: 1px solid grey;
    /* padding: 10px; */
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 7px;
    background-color: white;
    margin-left: 0px;
}
#free{
    margin-left: 5px;
}
#nocredit{
    margin-bottom: 0%;
    padding-bottom: 0%;
}
#video video {
    /* height:100px; */
    width: 500px;
    /* background-color: aqua; */
    margin: auto;
    margin-top: -35%;
    padding-top: 0%;
   
}
#simplefied{
    margin-top: -35%;
    font-size: x-large;
   

}
#smarter h1{
    font-size: 1cm;
    width: 100%;
    margin-left: 0%;
    padding-left: 0%;
   
}
#salesnav{
    width: 400px;
    margin-left: 0%;
    /* width: 200px; */
   /* border-bottom: ; */
    /* justify-content: space-evenly; */

}
#salesnav1 a{
    font-size: 22px;
    /* border-bottom: 3px solid rgb(0, 107, 255); */

}
#salesnav2 a{
    /* font-size: 12px; */
    font-size: 22px;

    margin-left: 120px;
    /* border-bottom: 3px solid rgb(224, 222, 222); */

}
#salesnav3 a{
    display: none;
}
#salesnav4 a{
    display: none;

}
#salesnav5 a{
    display: none;

}
#salesnav6 a{
    display: none;

}
#sales{
    margin-bottom: 30%;
}
#abovelogo  {
    display: flex;
    flex-direction: column;
    margin-top: 100%;
}
#abovelogo  #sync h1 {
font-size: 0.7cm;

}
#logo1{
    display: flex;
    flex-direction: column;
   
}
#logo1 #logo1a {
    width: 30%;
    margin-top: 20px;
}
#logo1 #logo1b {
    width: 30%;
    margin-top: 20px;

}
#logo1 #logo1c {
    width: 30%;
    margin-top: 20px;

}
#logo2{
    display: flex;
    flex-direction: column;
    height: 150vh;
   
}
#logo2 #logo2a {
    width: 30%;
    margin-top: 20px;
}
#logo2 #logo2b {
    width: 30%;
    margin-top: 20px;

}
#logo2 #logo2c {
    width: 30%;
    margin-top: 20px;

}
#logo2 #logo2d {
    width: 30%;
    margin-top: 20px;

}
#video2 video {
    width: 450px;
    padding-bottom:0% ;
}
#company{
    margin-top: -70%;
}
#cimage{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}
#cimage #cimage1{
    margin-top: 20px;
}
#cimage #cimage2{
    margin-top: 20px;
}
#cimage #cimage3{
    margin-top: 20px;
}
#cimage #cimage4{
    margin-top: 20px;
}
#cimage #cimage5{
    margin-top: 20px;
}
#footer4 {
    display: flex;
    flex-direction: column;
    /* float: left; */
}
#footer4 #footer4b a{
    font-size: small;
}
#footer4 #footer4b #f4b1 img{
    width: 40px;
}
#footer4 #footer4c{
    margin-left: -50%;
}
#Ef{
display: flex;
flex-direction: column;
}
#Ef #easy {
    width: 90%;
}
#Ef #featured {
    width: 100%;
    display: flex;
    flex-direction: column;
}
#Ef #featured  #fe2 {
   text-align: left;
   border:none;
   margin-left: 0%;
   margin-top: 0%;
   color: rgb(0, 107, 255);


}
#Ef #featured  #fe2 a:hover{
    color: black;
}
#Ef #featured  #fe2:hover .material-icons{
transform: translateX(10px);
color: black;
}
#isi{
    display: flex;
    flex-direction: column;
}
}